<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계산기</title>
</head>
<body style="margin: 40px;">
    <h2>계산기 <button onclick="location.href='/lang'">라디오 및 체크박스(lang, food 사례)</button></h2>
    
    <hr>
    <form action="/calc" method="post">
        <input type="text" name="num1">
        <select name="op">
            <!-- <option value="+">+</option>
            <option value="-">-</option>
            <option value="*" selected>*</option>
            <option value="/">/</option>
            <option value="//">//</option>
            <option value="%">%</option> -->
            {% for op in op_list %}
                <option value="{{op}}"
                    {% if loop.index == 3 %} selected {% endif %}       
                >{{op}}</option>
            {% endfor %}
        </select>
        <input type="text" name="num2">
        <input type="submit" value="=">
    </form>
</body>
</html>