{% extends "base.html" %}
{% block subtitle %}서울시 구별 CCTV/인구 현황{% endblock %}
{% block content %}
    <form action="/map/cctv_pop" method="post">
        항목: 
        <select name="column">
            {% for column in columns %}
                <option value="{{column}}">{{column}}</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;컬러맵:
        <select name="colormap">
            {% for colormap in colormaps %}
                <option value="{{colormap}}">{{colormap}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">제출</button>
    </form>
{% endblock %}