{% extends "base.html" %}
{% block additional_head %}
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{key}}"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{key}}&libraries=services,clusterer,drawing"></script>
    <script>
        function show() {
            let kind = $("input[name='kind']:checked").val();
            let name = $('#name').val();
            let lat = $('#lat').val();
            let lng = $('#lng').val();
            
            let url = 'https://map.kakao.com/link/' + kind + '/';
            if (name && kind != 'roadview') 
                url += name + ',';
            url += lat + ',' + lng;
            $('#map').attr({ src: url, border: 1 })
        }
        function init() {
            $("input[name='kind'][value='map']").prop('checked', true)
            $('#name').val('');
            $('#lat').val('');
            $('#lng').val('');
        }
    </script>
{% endblock %}
{% block subtitle %}카카오 맵(고급){% endblock %}
{% block content %}
    <table class="table table-borderless">
        <tr>
            <td style="width: 32%;">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="kind" value="map" checked> 지도
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="kind" value="to"> 길찾기
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="kind" value="roadview"> 로드뷰
                    </label>
                </div>
            </td>
            <td style="width: 16%;">
                <input type="text" class="form-control" id="name" placeholder="이름">
            </td>
            <td style="width: 16%;">
                <input type="text" class="form-control" id="lat" placeholder="위도">
            </td>
            <td style="width: 16%;">
                <input type="text" class="form-control" id="lng" placeholder="경도">
            </td>
            <td style="width: 20%;">
                <button class="btn btn-primary" onclick="show()">확인</button>
                <button class="btn btn-secondary" onclick="init()">취소</button>
            </td>
        </tr>
    </table>
    <iframe id="map" width="800" height="500"></iframe>
{% endblock %}